# **3. Feature Engineering**

In [35]:
import pandas as pd

# Cargar el archivo CSV e indicar que la columna 'Dt_Customer' debe ser interpretada como fecha
df = pd.read_csv('../data/interim/02campana_marketing.csv', parse_dates=['Dt_Customer'])

# Mostrar las primeras 4 filas
print(df.head(4))

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumCatalogPurchases  NumStorePurchases  \
0  2012-09-04       58       635  ...                   10                  4
1  2014-03-08       38        11  ...                    1                  2
2  2013-08-21       26       426  ...                    2                 10
3  2014-02-10       26        11  ...                    0                  4

   NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  \
0                  7             0             0             0             0
1                  5             0             0             0             0
2                  4             0             0             0             0
3                  6             0             0             0             0

   AcceptedCmp2  Complain  Response
0             0         0         1
1             0         0         0
2             0         0         0
3             0         0         0

[4 rows x 27 columns]

In [36]:
print("\n**Información del DataFrame:**")
df.info()

print("\n**Estadísticas descriptivas:**")
df.describe()

**Información del DataFrame:**
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2212 entries, 0 to 2211
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2212 non-null   int64
 1   Year_Birth           2212 non-null   int64
 2   Education            2212 non-null   object
 3   Marital_Status       2212 non-null   object
 4   Income               2212 non-null   float64
 5   Kidhome              2212 non-null   int64
 6   Teenhome             2212 non-null   int64
 7   Dt_Customer          2212 non-null   datetime64[ns]
 8   Recency              2212 non-null   int64
 9   MntWines             2212 non-null   int64
 10  MntFruits            2212 non-null   int64
 11  MntMeatProducts      2212 non-null   int64
 12  MntFishProducts      2212 non-null   int64
 13  MntSweetProducts     2212 non-null   int64
 14  MntGoldProds         2212 non-null   int64
 15  NumDealsPurchases    2212 non-null   int64
 16  NumWebPurchases      2212 non-null   int64
 17  NumCatalogPurchases  2212 non-null   int64
 18  NumStorePurchases    2212 non-null   int64
 19  NumWebVisitsMonth    2212 non-null   int64
 20  AcceptedCmp3         2212 non-null   int64
 21  AcceptedCmp4         2212 non-null   int64
 22  AcceptedCmp5         2212 non-null   int64
 23  AcceptedCmp1         2212 non-null   int64
 24  AcceptedCmp2         2212 non-null   int64
 25  Complain             2212 non-null   int64
 26  Response             2212 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(23), object(2)
memory usage: 466.7+ KB

**Estadísticas descriptivas:**

,ID,Year_Birth,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
count,2212.000000,2212.000000,2212.000000,2212.000000,2212.000000,2212,2212.000000,2212.000000,2212.000000,2212.000000,...,2212.000000,2212.000000,2212.000000,2212.000000,2212.000000,2212.000000,2212.000000,2212.000000,2212.000000,2212.000000
mean,5587.731917,1968.932640,51954.460095,0.442586,0.505425,2013-07-10 17:28:06.075949312,49.050633,305.030741,26.324593,166.970163,...,2.668174,5.800181,5.320072,0.073689,0.074141,0.072785,0.063743,0.013562,0.009494,0.149638
min,0.000000,1940.000000,1730.000000,0.000000,0.000000,2012-07-30 00:00:00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2814.750000,1959.000000,35233.500000,0.000000,0.000000,2013-01-16 00:00:00,24.000000,23.750000,1.750000,16.000000,...,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,2013-07-09 00:00:00,49.000000,173.500000,8.000000,68.000000,...,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8421.750000,1977.000000,68487.000000,1.000000,1.000000,2013-12-31 00:00:00,74.000000,505.500000,33.000000,232.250000,...,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11191.000000,1999.000000,162397.000000,2.000000,2.000000,2014-06-29 00:00:00,99.000000,1493.000000,199.000000,1725.000000,...,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
std,3247.944128,11.716942,21530.922239,0.537052,0.544258,NaN,28.940794,337.611255,39.781794,224.344950,...,2.924378,3.253616,2.423445,0.261323,0.262060,0.259842,0.244350,0.115691,0.096994,0.356797

## 1. Características Personales

In [37]:
df["Education"].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

### Realizamos un label encoding en la columna `Education` del DataFrame usando estos los valores específicos:
0 - Basic - Básica

1 - 2n Cycle - Segundo ciclo

2 - Graduation - Licenciatura

3 - Master - Máster

4 - PhD - Doctorado

In [38]:
from sklearn.preprocessing import LabelEncoder
# Crear una instancia del codificador LabelEncoder
encoder = LabelEncoder()

# Definir un mapa de etiquetas para mapear categorías textuales a números
label_map = {"Basic": 0, "2n Cycle": 1, "Graduation": 2, "Master": 3, "PhD": 4}

# Aplicar el mapeo y luego codificar las categorías en la columna "Education"
encoded_education = encoder.fit_transform(df["Education"].map(label_map))

# Reemplazar la columna original "Education" con los valores codificados
df["Education"] = encoded_education

# Imprimir los valores únicos de la columna "Education" después de la codificación
print(df["Education"].unique())

# Imprimir las clases aprendidas por el codificador (es decir, las etiquetas originales mapeadas a números)
print(encoder.classes_)

[2 4 3 0 1]
[0 1 2 3 4]

In [39]:
# OTRA MANERA DE HACERLO

# Crear un diccionario de mapeo
#education_mapping = {'Basic': 0,'2n Cycle': 1,'Graduation': 2,'Master': 3,'PhD': 4}

# Aplicar el mapeo a la columna "Education"
#df['Education'] = df['Education'].map(education_mapping)

# Verificar los cambios
#print(df['Education'].unique())

In [40]:
df["Marital_Status"].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow'], dtype=object)

### Realizamos un label encoding en la columna `Marital_Status` del DataFrame, de manera que 0 es 'Alone' y 1 es 'Together'

In [41]:
# Definir el mapeo de etiquetas según tu requerimiento
label_map = {"Single": 0, "Divorced": 0, "Widow": 0, "Together": 1, "Married": 1}

# Inicializar el codificador de etiquetas
encoder = LabelEncoder()

# Mapear y transformar los valores en la columna "Marital_Status"
df["Marital_Status"] = df["Marital_Status"].map(label_map)

# Ajustar y transformar los valores usando el codificador
encoded_marital_status = encoder.fit_transform(df["Marital_Status"])

# Asignar los valores codificados de vuelta a la columna "Marital_Status" del DataFrame
df["Marital_Status"] = encoded_marital_status

# Verificar los valores únicos después del encoding
print(df["Marital_Status"].unique())

[0 1]

In [42]:
print(df['Dt_Customer'].dtype)

datetime64[ns]

### Pasar de datos datetime para `Dt_Customer` (Fecha de inscripción del cliente en la empresa) a:
- `Days`: Siendo el día 0 el máximo de Dt_Customer
- `Seniority`: Normalizada entre 0 (poca antigüedad) y 1 (más veterano)
### Se crea `Seniority` que representa el grado de antigüedad del cliente en la empresa

In [43]:
from sklearn.preprocessing import MinMaxScaler

# Convertir las fechas a números (por ejemplo, días desde la fecha mínima)
df['Days'] = (df['Dt_Customer'] - df['Dt_Customer'].min()).dt.days

# Invertir los valores de 'Days' para que las fechas más recientes tengan valores menores
df['Days'] = df['Days'].max() - df['Days']

# Aplicar MinMaxScaler
scaler = MinMaxScaler()
df['Seniority'] = scaler.fit_transform(df[['Days']])

# Mostrar los resultados
print(df[['Dt_Customer', 'Days', 'Seniority']].head())

  Dt_Customer  Days  Seniority
0  2012-09-04   663   0.948498
1  2014-03-08   113   0.161660
2  2013-08-21   312   0.446352
3  2014-02-10   139   0.198856
4  2014-01-19   161   0.230329

### `Child_Home` donde 0 no hay hijos y 1 donde sí hay

In [44]:
df['Child_Home'] = df.apply(lambda x: 1 if (x['Kidhome'] == 1 or x['Teenhome'] == 1) else 0, axis=1)

### Determinar la edad `Age`del cliente

In [ ]:
df['Year_Birth'].max()

np.int64(1999)

Siendo 1999 el valor máximo como año de nacimiento y suponiendo que el cliente ha de tener al menos 18 años para estar inscrito, se deduce que el año actual del DataSet es 2017.

Con esto sacamos la columna Age siendo 2017-1999 = 18

In [ ]:
# Crear la columna Age restando Year_Birth de 2017
df['Age'] = 2017 - df['Year_Birth']

# Mostrar las primeras filas para verificar la nueva columna
print(df[['Year_Birth', 'Age']].head())

   Year_Birth  Age
0        1957   60
1        1954   63
2        1965   52
3        1984   33
4        1981   36

## 2. Características no personales

### `AcceptedCmp` donde 0 no se ha aceptado ninguna campaña y 1 se ha aceptado al menos 1 de las 5 campañas

In [45]:
df['AcceptedCmp']= df.apply(lambda x: 1 if (x['AcceptedCmp1']==1 or x['AcceptedCmp2']==1 or x['AcceptedCmp3']==1 or x['AcceptedCmp4']==1 or x['AcceptedCmp5']==1) else 0, axis=1)

### `Spent` que es el total del gasto compuesto por la suma del gasto de las categorías

In [46]:
df['Spent']= df['MntWines']+df['MntFruits']+df['MntMeatProducts']+df['MntFishProducts']+df['MntGoldProds']+ df['MntSweetProducts']

### Guardar nuevo archivo moficado

In [49]:
# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('../data/processed/campana_marketing.csv', index=False)

print("Archivo guardado en data/processed como 'campana_marketing.csv'")

Archivo guardado en data/processed como 'campana_marketing.csv'